.img-rotator{
  position: relative;
  width: 120px;
  height: 120px;
    overflow: hidden;
}


.sliderkit-go-prev, .sliderkit-go-next{
  width: 15px;
  height: 15px;
  background-color: #333;
  position: relative;
  z-index: 10;
  color: #fff;
  text-align: center;
  top: 50px;
}
.sliderkit-go-prev{
  left: 0px;
  position: absolute;
}
.sliderkit-go-next{
  right: 0px;
  position: absolute;
}
.sliderkit-panel{
  z-index:1;position:absolute;overflow:hidden;
}
.sliderkit .sliderkit-panel-active{z-index:5;}
.sliderkit .sliderkit-panel-old{z-index:4;}